@import 'tailwindcss';

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
/* input.css */
@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@layer components {
	/* basic HTML */
	h1 {
		@apply text-[2.5rem] font-bold mb-4 leading-[1.2] tracking-[-0.5px];
	}

	h2 {
		@apply text-[2rem] font-bold mb-[0.875rem] leading-[1.3];
	}

	h3 {
		@apply text-[1.75rem] font-semibold mb-3 leading-[1.4];
	}

	h4 {
		@apply text-[1.5rem] font-semibold mb-[0.625rem] leading-[1.4];
	}

	h5 {
		@apply text-[1.25rem] font-medium mb-2 leading-[1.5];
	}

	h6 {
		@apply text-base font-medium mb-2 leading-[1.5];
	}
	/*  */
	.navButton {
		@apply block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
	}
	.statusSelect {
		@apply text-white bg-blue-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
	}
	.saveButton {
		@apply text-white bg-green-600 dark:bg-blue-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2 text-center  dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer;
	}
	.loginInput {
		@apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg  block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
	}
	.registerInput {
		@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500;
	}
	.flex-xy-center{
		@apply flex justify-center items-center;
	}
	
	.button{
		@apply cursor-pointer hover:cursor-pointer;
	}

	.text{
		@apply text-gray-800 dark:text-gray-300;
	}

	.accordionButton{
		@apply flex items-center justify-between w-full px-5 py-2 font-medium text-lg rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl dark:border-gray-700 bg-gray-200 dark:bg-gray-800 hover:bg-gray-300 dark:hover:bg-gray-700 gap-3 cursor-pointer;
	}

	.noteSettings{
		@apply text-xs text-gray-500 text-center italic;
	}

	/* ---Note Page Layout--- */
	.leftListInstanceNote {
		@apply w-full my-1 px-4 py-1 block rounded-tl-[50px] text-xs;
	}

	.leftListInstanceGroup {
		@apply w-full my-1 px-4 py-1 block rounded-t-[50px] text-xs cursor-pointer capitalize;
		color: black !important;
	}
	.leftListInstanceGroup:hover,
	.leftListInstanceGroup:active,
	.leftListInstanceGroup:focus {
		color: white !important;
	}

	#updateFontSize, .dropdownSettings {
		@apply py-1.5 px-8 bg-[#4a5565] text-white rounded-md cursor-pointer text-sm appearance-none;
	}
	
	#updateFontSize:hover, .dropdownSettings:hover {
		@apply bg-[#101828];
	}
	
	#updateFontSize option, #updateFontSize option:hover {
		@apply border-none cursor-pointer;
	}	 
	/* ---Note Page Layout--- */

	/* ---Note Page Input Styles--- */
	.mainTitle {
		@apply w-full border-none outline-none underline px-4 text-[32px] leading-[48px] font-[800] bg-transparent text-center;
	}
	
	.secondaryTitle {
		@apply w-[70%] border-none outline-none bg-[#FFFFAA] text-[24px] leading-[18px] font-[700];
	}

	.metaTitle{
		@apply w-[30%] border-none outline-none italic font-[500] bg-[#FFFFAA] text-center text-[18px] leading-[18px];
	}

	.notepad_textarea {
		@apply w-full pb-0 font-mono font-[500] leading-[24px] border border-[#ccc] resize-y box-border focus:border-none focus:outline-none focus:shadow-none;
		background-image: repeating-linear-gradient(
			to bottom,
			rgba(255, 255, 0, 0.333) 0px,
			rgba(255, 255, 0, 0.333) 22px,
			#d0d7de 22px,
			rgba(255, 255, 0, 0.333) 24px
	  );
   }
	
	input:focus, textarea:focus {
		@apply focus:outline-none focus:ring-0;
	}
	
	input::placeholder {
		@apply text-gray-500 font-bold;
	}

	.stripeArea {
		background-color: #FFFFAA;
		background-image: repeating-linear-gradient(
			 to bottom,
			 rgba(255, 255, 170, 0.333) 0px,
			 rgba(255, 255, 170, 0.333) 22px,
			 #d0d7de 22px,
			 rgba(255, 255, 170, 0.333) 24px
		);
   }

  	.noteSaveButton {
		@apply text-white bg-emerald-600 dark:bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center cursor-pointer;

		position: relative;
		transform: translateY(-60px);
	}
	/* ---Note Page Styles--- */

}


@theme {
	--font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		 'Segoe UI Symbol', 'Noto Color Emoji';
}